/* Universal Styles */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header */
header {
  font-family: Helvetica;
  font-size: 22px;
  position: fixed;
  display: flex;
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
}
.logo {
  display: flex;
  flex-grow: 1;
  height: 50px;
  padding-left: 10px;
}
nav {
  display: flex;
  padding-right: 10px;
  color: seashell;
}
nav li {
  display: inline-block;
  text-decoration: underline;
  padding: 15px 15px;
}

/* Page Body */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page-body {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

/* Mission Statement */
.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  padding-top: 70px;
  height: 700px;
  align-items: center;
}
.mission-tagline {
    margin: auto;
    vertical-align: middle;
    background-color: black;
    width: 100%;
}

/* Tea of the Month */
.tea-of-the-month {
  margin: auto;
  padding-top: 50px;
  /*height: 700px;*/
  width: 1000px;
}
.tea-images {
  padding-bottom: 10px;
  justify-content: space-around;
}
.tea-image img {
  height: 200px;
  width: 300px;
}
.tea-image span {
  display: block;
  padding: 5px;
  text-align: center;
}
