/* Universal Styles */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Header */
header {
  font-family: Helvetica;
  font-size: 22px;
  position: fixed;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  vertical-align: middle;
  align-items: center;
  z-index: 5;
}
.logo {
  display: flex;
  flex-grow: 1;
  height: 50px;
  padding-left: 10px;
}
nav {
  display: flex;
  padding-right: 10px;
  color: seashell;
}
nav li {
  display: inline-block;
  text-decoration: underline;
  padding: 15px 15px;
}

/* Page Body */
.page-body {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

/* Mission Statement */
.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  padding-top: 70px;
  height: 700px;
  align-items: center;
}
.mission-tagline {
    margin: auto;
    vertical-align: middle;
    background-color: black;
    width: 100%;
}

/* Tea of the Month */
.tea-of-the-month {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1000px;
}
.tea-images {
  justify-content: space-around;
}
.tea-image img {
  height: 200px;
  width: 300px;
  margin: 10px;
}
.tea-image span {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

/* Tea Cozy Locations */
.tea-cozy-locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  padding-top: 40px;
}
.location-boxes {
  margin: auto;
  justify-content: center;
}
.location {
  display: flex;
  flex-direction: column;
  flex-basis: 275px;
  opacity: 1.0;
  height: 300px;
  width: 300px;
  margin: 15px 40px;
  background-color: black;
}

/* Contact Tea Cozy */
.contact-us {
  padding-top: 10px;
  height: 200px;
}

/* Footer */
footer {
  padding-left: 20px;
  text-align: left
}
